<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="DucThuan.duolingo">

    <application
        android:name=".DuolingoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".UI.tasks.MutipleChoice"></activity>

        <activity android:name=".UI.activity.WelcomeActivity" />

        <activity android:name=".UI.tasks.WordTask.WordTaskActivity"></activity>

        <activity
            android:name=".UI.tasks.TSTaskActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".UI.activity.LessonCompletedActivity" />

        <activity android:name=".UI.activity.SignInActivity" />

        <activity android:name=".UI.activity.SelectLanguageActivity.SelectLanguageActivity" />

        <activity android:name=".UI.activity.PickDailyGoalActivity" />

        <activity android:name=".UI.activity.LessonListActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

    </application>

</manifest>